/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    /*don't change above*/
    font-family: -apple-system, 
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    /*don't change above*/
}

/*Header*/

header {
    background-color: white;
    font-size: 18px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 18px;
    /*padding-left: 100px;*/
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}


nav li a{
    color: #6b7280;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    color: #5A67D8;
}

/*Live your healthiest life now!*/

main .overview-hero {
    background-color: #E2E8F0;
}

.overview-hero .container {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.overview-hero-image img {
    padding-left: 50px;
    width: 200px;
    height: 150px;
}

    

.overview-hero-text {
    margin-left: 50px;
    margin-right: 100px;
}

/*Learn about*/

.learn-about .container{
    padding-bottom: 20px;
}


.learn-about .container h2 {
    font-size: 24px;
    color: #48BB78;
    
    /*padding-left: 100px;*/
}

.cards {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}

.card {
    width: 300px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3); 
    padding: 5px;
}

.card img {
    width: 300px;
    height: 250px;
}

.card-body h3 {
    color:#48BB78;
    font-size: 21px;
}

/*Covid testing*/
section.testing {
    background-color: #4A5568;
    color: white;
}

.testing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 60px 0px;
}

.testing-description {
    margin-right: 50px;
    width: 700px;
}

.cta {
    background-color: #48BB78; 
    border-radius: 3px;
    width: 120px;
    padding: 10px 0px;
    padding-left: 30px;
    margin-right: 50px;

}

.cta a{
    text-decoration: none;
    color: white;
    /*rounded corners*/
}



/*Recent Stories*/

.stories .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 20px;
    padding: 50px 0px;
    
}

.stories h2, .stories a {
    color: #5A67D8;
}

.stories h2 {
    color: #5A67D8;
    
    /*padding-left: 100px;*/
}

.stories a {
    color: #5A67D8;
    text-decoration: none;
    font-weight: bold;
}

.stories h3 {
    font-size: 18px;
}

.stories img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/*Newsletter*/
section.newsletter {
    background-color: #48BB78;
    color: white;
}

.newsletter .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.newsletter .container form {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 200px;
}

.newsletter .container h3{
    margin-left: 300px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.newsletter .container p {
    width: 500px;
    margin-left: 200px;
}

.newsletter button {
    background-color: #5A67D8;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 3px;
}

.form-group input {
    width: 320px;
    height: 45px;
    border: none;
    border-radius: 3px;

}

/*Footer*/

footer {
    padding: 10px;
    background-color: #4A5568;
    color: white;
}